html(lang="es")
    head
        title Usuario incorrecto
        link(rel="stylesheet" href="css/404.css")
    body(translate="no")
        h1 404
.cloak__wrapper
  .cloak__container
    .cloak
.info
  h2 Credenciales incorrectas.
  p.
    Favor de verificar sus credenciales para poder ingresar al sistema.
  br
  a(href="/" rel="noreferrer noopener") Regresar